<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>用户未付款订单列表</title>
    <script type="text/javascript" src="/js/jquery2.1.4.js"></script>
    <style>
        table.gridtable {
            font-family: verdana,arial,sans-serif;
            font-size:11px;
            color:#333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }
        table.gridtable th {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #dedede;
        }
        table.gridtable td {
            border-width: 1px;
            padding: 8px;
            border-style: solid;
            border-color: #666666;
            background-color: #ffffff;
        }
    </style>

</head>
<body>

    <!-- Table goes in the document BODY -->
    <table class="gridtable">
        <tr>
            <th>订单编号</th><th>检验目的</th><th>申请人姓名</th><th>电话</th><th>费用</th><th>操作</th>
        </tr>
    #foreach($trade in $list)
        <tr>
            <td>$!trade.tradeNum </td><td>$trade.name</td><td>$trade.applicantName</td><td>$trade.phone</td><td>$trade.price</td><td><button onclick="xiadan($!trade.id);">确认已计费</button></td>
        </tr>
    #end
    </table>
<script type="application/javascript">
    function xiadan(id){
        //alert(id);
        $.post("/trade/pay", {"tradeId":id,"status":"1"},function(data) {
                alert(data.rlt+"=="+data.txt);
            });
    }
</script>
</body>
</html>